/*****************************************************************Login*****************************************************************/

.admin-section{
    min-height:100%;
    min-width:1024px;
}

.login-section{
    min-width:1024px;
}

h1{
    color:#2c3e50;
    font-size:36px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    text-shadow:none;
    text-align:left;
    margin-top:0;
    margin-bottom:0;
    background-color:#FFFFFF;
    text-align:center;
    line-height:124px;
}

.admin-section .admin-container{
    background-color:#222e3f;
    margin-bottom:88px;
}

.login-section .admin-container{
    min-width:1024px;
}

.dashboard-section{
    background-color:#FFFFFF;
}

h2{
    color:#2c3e50;
    font-size:16px;
    font-family: 'Raleway', serif;
    font-weight:bolder;
    text-shadow:none;
    margin: 0 auto;
    text-align: center;
    margin-top:0;
    margin-bottom:14px;
    width:240px;
    line-height: 20px;
}

.content{
    margin-bottom:88px;
    margin-left:4.68%;
    margin-right:4.68%;
}

.admin-section .content{
    padding-top:0;
}

form{
    margin: 0 auto;
    width:auto;
    height:auto;
}

#signin{
    background-color:#ededed;
    width:466px;
    padding-left:32px;
    padding-right:32px;
    padding-top:32px;
    margin-top:48px;
    margin-left: auto;
    margin-right: auto;
}

#username{
    margin-bottom:16px;
}

label{
    color:#2c3e50;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    text-shadow:none;
    font-size: 16px;
    text-align:left;
    margin-top:0;
    margin-bottom:4px;
    margin-left:0;
    text-transform:uppercase;
    width:100%;
}

.required{
    position:absolute;
    display:none;
    margin-top: 0px;
    margin-left:-6px;
}

.admin-section input[type=text], .admin-section input[type=email]{
    margin-bottom:10px;
    width:400px;
    height:48px;
    border:1px solid #68DDDD;
    box-shadow:none;
    transition:none;   
    border-radius:0;
}

.form-control{
    border-radius:0;
    height:48px;
}

.btn-login{
    width:190px;
    display: block;
    margin: 0 auto;
    margin-top:48px;
    margin-bottom:32px;
}

.admin-section input:focus, .admin-section input:active{
    border:1px solid #FF884D;
    box-shadow:none;
    transition:none;
     border-radius:0;
}

a.link{
    color:#4e43ba;
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    text-decoration:underline;
    width: 150px;
    display:block;
    margin: 0 auto;
    text-align: center;
}

a.link:hover, a.link:active, a.link:focus{
    color:#59BFC1;
}

#output{
    height:32px;
    margin-top: 10px;
    text-align: center;   
    font-family: 'Raleway', sans-serif;
}

#insertForm #output{
    float: left;
    font-family: "Raleway",sans-serif;
    height: 32px;
    margin-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
}

/*#locationSelect{
    width:300px;
}

.results{
    width:300px;
    height:500px;
}*/

/*****************************************************************Dashboard Admin*****************************************************************/


.tab-content{
    background-color: #ededed;
    padding:32px;
    min-height: 920px;
    overflow:hidden;
}

.admin-container{
    width: 100%;
    min-width: 1200px;
}

.tabs-dashboard{
    margin-top:48px;
}

.admin-container .jumbotron{
    background-color:transparent;
}

.admin-container h3{
    font-size:18px;
    margin-top:0 !important;
}

.admin-container h4{
    text-align: center;   
}

.admin-container p{
    text-align: center;   
}

.admin-container .nav.nav-tabs{
    margin-left:0;
    border:0px solid transparent;
}

.admin-container .nav-tabs > li{
  margin-bottom:0;
}

.admin-container .nav-tabs > li > a{
    border-radius: 0;
    margin-right:0;
    text-decoration:none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
     font-family: 'Raleway', sans-serif;
     font-size:14px;
     font-weight: bold;
     color:#34495e;
     padding:32px;
     text-transform:uppercase;
     background-color:#ededed;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus{
     font-family: 'Raleway', sans-serif;
     font-size:14px;
     font-weight: bold;
     color:#34495e;
     padding:32px;
     text-transform:uppercase;
     background-color:#7c8a98;
}

.nav-tabs .link{
    float: left;
    font-size: 16px;
    padding: 29px;
    text-transform: uppercase;
}

#map{
    float:left;
    height:200px;
    width:400px;
}

.filter{
    float:left;
    margin-bottom:32px;
    width:100%;
}

.filter h3{
    text-align: left;
    width: 300px;
    float:left;
    margin-top:0;
    margin-bottom:0;
}

#searchForm{
    float:right;
}

#searchForm input{
    height:40px;
    width:314px;
    float: left;
    padding-left:12px;
}

.control-bar{
    margin-bottom:40px;
}


.table-container{
    float:left;
    overflow:scroll;
    width: 1400px;
    margin-bottom:40px;
}

table{
    width:100%;
}

/************** http://enscrollplugin.com/#demos **************/
    
#scrollbox {
    overflow: auto;
    width: 100%;
    height: auto !important;
    padding-left: 8px;
    padding-right: 8px;
    float:left;
}

/*#scrollbox p {
    width: 600px;
}*/

/*.vertical-track {
    width: 17px;
    background: #e4e6e3;
    border: 1px solid #dfdfdd;
}

.vertical-handle {
    width: 17px;
}

.vertical-handle .top {
    width: 17px;
    height: 17px;
    background: url(http://enscrollplugin.com/images/green-vert-scrollbar.png) no-repeat;
}

.vertical-handle .bottom {
    width: 17px;
    height: 100%;
    position: absolute;
    bottom: 0;
    clip: rect(17px 17px 9999px 0);
    background: url(http://enscrollplugin.com/images/green-vert-scrollbar.png) no-repeat 0 bottom;
}*/

.horizontal-track {
    width: 100%;
    height: 40px;
    background: #e4e6e3;
    border: 1px solid #dfdfdd;
    float:left;
    bottom:-30px;
    position:relative;
}

.horizontal-handle {
    height: 40px;
    width:40px !important;
    background: url("../img/desktop/scrubber-horizontal.jpg") no-repeat;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.6);
}

/*.horizontal-handle .left {
    width: 40px;
    height: 40px;
    background: url(http://enscrollplugin.com/images/green-horiz-scrollbar.png) no-repeat;
}

.horizontal-handle .right {
    width: 100%;
    height: 17px;
    position: absolute;
    right: 0;
    top: 0;
    clip: rect(0 9999px 17px 17px);
    background: url(http://enscrollplugin.com/images/green-horiz-scrollbar.png) no-repeat right 0;
}*/

/*.corner {
    width: 40px;
    height: 40px;
    background: #e4e6e3;
    border: 1px solid #dfdfdd; 
}*/

/************** http://enscrollplugin.com/#demos **************/

table thead{
    background-color:#FFFFFF;
}

table th{
    white-space: nowrap;
    text-align:center;
    font-family:  'Raleway', Arial,sans-serif;
}

table a{
    font-family:  'Raleway', Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

table tr{
    white-space: nowrap;
    font-family:  'Raleway', Arial,sans-serif;
}

.col-md-3{
    width:auto;
}

.col-md-2{
    width:auto;
}

h5{
    margin-top:35px;
    margin-bottom:0;
}

.pagination{
    border-radius: 0;
}

.pagination > li > a, .pagination > li > span{
    color:#4e43ba;
    font-family: "Raleway",sans-serif;
    font-size: 17px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color:#4e43ba;
    border:0px solid transparent;
    top:1px;
}

/*****************************************************************Modal Bootstrap*****************************************************************/

.modal-header{
    font-family:  'Raleway', Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform:uppercase;
    color:#2c3e50;
}

.modal-dialog{
    
}

.modal-content{
    border-radius:0;   
}

.modal-footer{
    margin-top:0;
}

/*****************************************************************Insert form*****************************************************************/

form#insertForm{
    height: 980px;
    width: 840px;
    float:left;
}

#insertForm h3{
    margin-top:0;
}

#insertForm .left-side{
    width:400px;
    float:left;
    margin-right:40px;
    height:600px;
}

#insertForm .right-side{
    width:400px;
    float:left;
    height:600px;
}

#insertForm label, #updateForm label{
    margin-left:0px;
}

#insertForm input, #updateForm input{
    background-color:transparent;
}

#countries, #states, #pagesize{
    border: 1px solid #68dddd;
    border-radius: 0;
    height: 120px;
    margin-top: -10px;
    overflow: scroll;
    width: 400px;
}

.dropdown-menu{
    width:auto;
}

#btn-countries, #btn-states{
    width:400px;
    float:left;
}


#insertForm #btn-states{
    top:-58px;
    background-color: #ededed;
}

.btn-group > .btn, .btn-group-vertical > .btn, select{
    background-color: transparent;
    border: 1px solid #68dddd;
    border-radius: 0;
    box-shadow: none;
    height: 48px;
}

select{
    width:200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: normal;
    font-size: 14px;
    color: #333333;
    ont-family: "Raleway",sans-serif;
}

select::-ms-expand { /* for IE 11 */
    display: none;
}

select option {
    border: 0px solid #68dddd;
    border-radius: 0;
    height: 48px;
    margin-top: 0px;
    overflow: scroll;
    width: 200px;
    background-color:#FFFFFF;
}

#btn-pagesize{
    width:200px;
}

.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle{
    background-color: transparent;
    border: 1px solid #68dddd;
    border-radius: 0;
    box-shadow: none;
    height: 48px;
}

.caret{
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px dashed;
    color:#68dddd;
}

.dropdown-menu > li > a{
    text-decoration:none;
}

label.error {
    color: #ff884d;
    float: left;
    font-size: 12px;
    margin-top: -85px;
    position: relative;
    text-align: right;
    width: 400px;
}

#insertForm input.error, #updateForm input.error{
   border: 1px solid #FF884D;
}

#insertForm #map{
    margin-top:28px;
    margin-bottom:20px;
    margin-left:220px;
}

.gm-style .gm-style-iw{
    font-family: 'Raleway', sans-serif;
    font-size:12px;
    color:#2C3E50;
    line-height: 14px;
    max-height:120px !important;
}
pw
#customInfoWindow{
    font-family: 'Raleway', sans-serif;
    font-size:12px;
    color:#2C3E50;
    line-height: 14px;
    width:150px;
    height:auto;
    overflow:hidden;
}

#customInfoWindow p{
    line-height: 10px;
    margin-bottom: 2px;
    font-size:10px;
}


#launch-modal{
    display:none;
}

.pagination{
    margin:0;
}

.pagination ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

.buttons{
    float:left;
    width:100%;
}


/*****************************************************************Update iFrame Popup*****************************************************************/

.body-iframe{
    background-color:transparent;
    min-height: 685px;
    overflow:hidden;
}

iframe{
    width:92%;
    height:692px;
    border:none;
}

#updateForm .left-side{
    width:50%;
    float:left;
    margin-bottom: 48px;
}

#updateForm .right-side{
    width:50%;
    float:right;
    margin-bottom: 48px;
}


/*****************************************************************SpreadSheet generator form*****************************************************************/

#report{
   
}

#excelForm{
    width:350px;
    margin:0 auto;
}

#report h3{
    margin-top:0;
}

#report input[type=radio]{
    margin-left:0;
    float:left;
    position:relative;
}

#report label{
    font-weight:bold;
    width:auto;
    float:left;
}

#report .radios{
    float:left;
    margin-bottom:32px;
    width:60%;
    margin-left:20%;
}

#report .radio{
    float:left;
    margin:0;
    margin-bottom:16px;
    width:100%;
}

/* Your styles here customize radio buttons*/

.styledRadio {
   float:left;
}

.styledCheckbox {
}

/*****************************************************************Search Results Page*****************************************************************/


.content-results{
    margin-left: 4.68%;
    margin-right: 4.68%;
}

.content-results .table-container{
    margin-left: 4.68%;
    margin-right: 4.68%;
    margin-top: 40px;
    background-color: #222e3f;
    min-height: 600px;
    overflow: scroll;
    width: 1200px;
}

.btn-container{
    margin-top:40px;  
    margin-bottom:40px;   
}



/*****************************************************************Forgot Form*****************************************************************/

iframe#forgot{
    width: 400px;
    height: 300px;
}

.forgot-section{
    min-height:200px;
    min-width: auto;
}

.content-forgot{
    margin-top: 40px;
}

#forgotForm input[type=email]{
    width:400px;
}

#forgotForm button{
    margin-top:40px;
}

#forgotForm #output{
    
}

/*****************************************************************Reset Form*****************************************************************/

.content-reset{
    width: 400px;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
}

.content-reset h2{
    text-transform:uppercase;
}

#resetForm{
    
}

#resetForm button{  
    margin-top:20px;
}

#resetForm #output{
    margin-bottom: 10px;
    margin-top: 20px;
}


/***************************************************************** Exit Page*****************************************************************/

.content-exit{
    margin-bottom: 240px;
    margin-top: 160px;
}
