

/*Tablet landscape and small desktop breakpoint*/
@media screen and (max-width: 1400px){

body.body-iframe{
    min-width:100%;
    min-height: 100%;
}
    
table{
    /*font-size: 1vw;*/
   font-size: 13px;
}

.hide-for-tablet{
    display:none;
}

}

@media screen and (max-width: 1024px){

body.body-iframe{
    min-width:100%;
    min-height: 100%;
}

table{
   font-size: 11px;
}

}

/*Tablet portrait and phone*/
@media screen and (max-width: 768px){

/*Login*/

body{
    /*font-size: 1vw;*/
   min-width:640px;
}

body.body-iframe{
    min-width:100%;
    min-height: 100%;
}

#update body{
    min-width:100%;
}

form{
    width:100%;
    height:200px;
}

/*Find a Physician Mobile*/

.activate-mobile-location{
    display:block;
}

.controls form label{
    display:none;
}

.controls form input[type=text]{
    display:none;
}


.controls form .btn-default{
    display:none;
}


.required{
    margin-left: -10px;
}

label{
    margin-left: 0px;
}

input{
    width:150px;
}

input[type=text]{
    
}

input[type=submit]{
    margin-top:10px;
}

#output{
     text-align: left;   
}

/*Admin Panel*/

/**/
.nav > li{
    width: 100%;
}

.nav-tabs > li > a{
    margin-right:0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border-color:#FFFFFF;
}

.hide-for-mobile{
    display:none;
}

#edit .table td{
    word-wrap:break-all;
}

#edit .table th{
    word-wrap:break-all;
}

.carousel {
  margin-bottom: 0px;
}

/**/
    
table{
    font-size: 11px;
}


}/*Close Media Querie*/ 