/*
 * Under this break point all sizes smaller than 768px
 * include iPhone and other mobile devices until 640px
 * @marlonjuc
 * *
 * */

@media screen and (max-width: 767px) {

    /***************************************************** Nav *****************************************************/

    body {
        min-width: 320px;
    }

    .navbar-right {
        padding-right: 0;
        margin-right: 0;
    }

    .navbar {
        min-height: 55px;
        margin-right: 0;
    }

    .navbar-nav {
        margin-top: 0;
    }

    .navbar-collapse.in {
        overflow: hidden;
    }

    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-inverse .navbar-brand {
        padding-left: 5%;
    }

    .navbar-inverse .navbar-nav > li > a {
        padding-right: 0;
        font-size: 20px;
    }

    .navbar-header {
        max-width: 100%;
    }

    .navbar-brand {
        width: 80%;
        max-width: 327px;
    }

    .navbar-brand img {
        width: 100%;
    }

    /***************************************************** Homepage *****************************************************/

    .carousel-caption {
        width: 60%;
        margin-top: 3%;
        margin-left: 10%;
    }

    .carousel .item h1.slide1, .carousel .item h1.slide2, .carousel .item h1.slide3 {
        font-size: 5vw;
        line-height: 5vw;
        margin-bottom: 3%;
    }

    .carousel .item h2 {
        font-size: 4vw;
        line-height: 4vw;
        margin-bottom: 3%;
        font-weight: normal;
    }

    .carousel-control.left {
        margin-left: 0;
    }

    .carousel-control.right {
        margin-right: 0;
    }

    .carousel-indicators {
        bottom: -50px;
    }

    #callouts {
        width: 90%;
    }

    .callout {
        padding: 8%;
        float: left;
    }

    .callout h3 {
        font-size: 5vw;
        line-height: 5vw;
        text-transform: none;
        margin-bottom: 6%;
    }

    .callout p {
        font-size: 4vw;
        line-height: 4.3 vw;
        height: 50%;
        margin-bottom: 6%;
    }

    .callout .btn-green {
        margin-left: 25%;
    }

    /*****************************************************Buttons*****************************************************/

    .btn-green, .btn-orange {
        width: 30%;
        font-size: 3vw;
        line-height: 3vw;
        padding: 4% 4%;
        float: left;
        width: 45%;
    }

    /***************************************************** About *****************************************************/

    .banner_bg_about {
        padding-bottom: 50%;
    }

    .banner_bg_about .headline {
        width: 63%;
        text-shadow: 2px 2px #FFFFFF;
        margin-top: 3%;
        margin-left: 5%;
    }

    #about_header .headline h1 {
        font-size: 5vw;
        line-height: 5vw;
        margin-bottom: 6%;
    }

    #about_header .headline h2 {
        font-size: 4vw;
        line-height: 4vw;
        font-weight: normal;
        margin-top: 0;
    }

    /***************************************************** Global *****************************************************/

    .content {
        padding: 10%;
    }

    h3 {
        font-size: 5vw;
        line-height: 5vw;
    }

    h4 {
        font-size: 5vw;
        line-height: 5vw;
    }

    p {
        font-size: 4vw;
        line-height: 4.5 vw;
    }

    /***************************************************** Footer *****************************************************/

    .bottom_links ul {
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    .bottom_links ul li:first-child a {
        border-bottom: none !important;
    }

    .bottom_links ul li:last-child a {
        border-top: none !important;
    }

    #footer {
        padding-top: 10px;
    }
    
    #footer  p{
        line-height: 20px;
    }

    #footer .bottom_links a.btn_footer {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        font-size: 20px;
    }

    #footer .bottom_links a.btn_footer:hover {
        border: 1px solid #f2f2f2;
    }

    #footer .hide-desktop {
        display: block;
    }

    /***************************************************** Find a Physician *****************************************************/

    #find_header .banner_bg_find {
        padding-bottom: 50%;
    }

    .find-physicians-section .content {
        padding: 5%;
    }

    .find {
        margin-left: 0;
        margin-right: 0;
        float: left;
        width: 100%;
    }

    #find_header .headline {
        width: 63%;
        text-shadow: 2px 2px #FFFFFF;
        margin-top: 3%;
        margin-left: 5%;
    }

    #find_header .headline h1 {
        font-size: 5vw;
        line-height: 5vw;
        margin-bottom: 6%;
    }

    #find_header .headline h2 {
        font-size: 4vw;
        line-height: 4vw;
        font-weight: normal;
        margin-top: 0;
    }

    .controls {
        width: 100%;
        min-width: 100%;
        margin-right: 0;
    }

    #find-physicians label {
        width: 100%;
        text-align: center;
    }

    #findForm {
        width: 100%;
    }

    #findForm label {
        display: none;
    }

    #findForm input {
        display: none;
    }

    .instructions ol {
        padding-left: 5%;
    }

    .instructions ol li {
        text-align: left;
    }

    .instructions h4 {
        font-weight: bold;
    }

    .search-icon {
        display: none;
    }

    .activate-mobile-location {
        display: block;
        margin-bottom: 5%;
    }

    .activate-mobile-location:hover {
        color: #FFFFFF;
    }

    .current-location {
        display: block;
        margin-top: 80px;
        color: #FFFFFF;
    }

    .results {
        width: 100%;
        padding-top: 10px;
        height: 70px;
    }

    #map {
        width: 100% !important;
        margin-top: 0;
    }

    /*********************************************** CTA ***********************/

    .cta {
        height: 290px;
    }

    .doctor-picture {
        float: none;
    }

    .description {
        width: 100%;
    }

    #cta_area h4 {
        margin-top: 0;
    }

    .curtain {
        width: 100%;
        height: 80px;
    }

    #cta_area img.go_find_btn {
        margin-bottom: 23px;
        margin-top: 23px;
    }

    /*********************************************** Contact ***********************/

    .contact-section .content {
        padding: 0;
        padding-top: 5%;
    }

    .contact-container {
        padding: 5%;
        margin-bottom: 5%;
    }
    
    .contact-container-2 h3, .contact-container p{
        line-height:5vw;
    }
    
    .contact-container .btn-green{
         margin-left:2.5%;
         margin-right:5%;
         margin-bottom:40px;
     }
     
     .contact-container .green-reset {
        margin-left: 0;
        margin-right: 0;
    }
    
    /*********************************************** Privacy and Terms ***********************/

    #privacy {
        padding: 5%;
    }

    #privacy .contact-container {
        width: 100%;
    }

}