/*****************************************************************Gobal styles*****************************************************************/

body {
    min-height: 1165px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    background-color: #ededed;
    color: #34495e;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    text-align: center;
}

h1 {
    font-size: 36px;
    line-height: 36px;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    color: #28384c;
    margin-bottom: 24px;
    letter-spacing: -1px;
    margin-top: 0;
}

.title h1 {
    margin-top: 24px;
}

h2 {
    font-size: 24px;
    line-height: 24px;
    font-family: 'PT Serif', serif;
    color: #28384c;
    margin-bottom: 32px;
    letter-spacing: -0.1px;
    font-weight: 700;
}

h3 {
    font-size: 21px;
    line-height: 21px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h4 {
    font-size: 18px;
    line-height: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h6 {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800 !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 24px;
    margin-bottom: 8px;
}

a {
    color: #4e43ba;
    text-decoration: underline;
}

a:hover {
    color: #50b2b4;
}

a:focus {
    color: #50b2b4;
}

/*********************************************** CTA ***********************/
.cta {
    height: 290px;
}

.doctor-picture {
    float: left;
}

.description {
    float: left;
    width: 50%;
}

p {
    color: #34495e;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 24px;
    letter-spacing: 0.5px;
}

.purple {
    background-color: #5d56eb;
}
.dark-purple {
    background-color: #4e43ba;
}
.green {
    background-color: #50b2b4;
}
.light-gray {
    background-color: #ededed;
}
.dark-gray {
    background-color: #222e3f;
}
.medium-gray {
    background-color: #34495e;
}

.curtain {
    width: 15%;
    float: right;
    cursor: pointer;
}

sup {
    font-size: 60%;
    /* Zero out the line-height so that it doesn't
     interfere with the positioning that follows */
    line-height: 0;
    /* Where the magic happens: makes all browsers position
     the sup/sup properly, relative to the surrounding text */
    position: relative;
    /* Note that if you're using Eric Meyer's reset.css, this
     is already set and you can remove this rule */
    vertical-align: baseline;
    /* Move the superscripted text up */
    top: -0.4em;
}

/*****************************************************************Bootstrap Customize elements*****************************************************************/

.row {
    margin: 0px;
    padding: 0px;
}
.container-fluid {
    max-width: 1024px !important;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    max-width: 1024px !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0 8px !important;
}

/***************************************************************** Top Navigation  *****************************************************************/

.navbar {
    min-height: 72px;
    margin: 0;
    border: none;
}

.navbar-right {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/********************* collapse *********************/

.navbar-collapse {
    overflow-x: visible;
    padding-right: 0;
    padding-left: 0;
    border-top: none;
    box-shadow: none;
    margin: 0px;
}

/********************* TOGGLE *********************/
.navbar-toggle {
    position: relative;
    float: right;
    background-color: #4e43ba;
    border: none;
    border-radius: 0px;
    padding: 10px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 24px;
    height: 4px;
    border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

/***************************************************************** navbar-inverse  *****************************************************************/

.navbar-inverse {
    background-color: transparent;
    border: none;
    margin-right: 30px;
}

.navbar-inverse .navbar-brand {
    padding: 0 0 0 30px;
    float: left;
}

.navbar-inverse .navbar-brand a {
    background-color: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    padding: 26px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.7px;
    text-decoration: none;
}

/*Active navigation on hover*/
.navbar-inverse .navbar-nav > li > a.active {
    background-color: #68DDDD;
    color: #222e3f;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: #4e43ba;
    border: none;
}

/*Active navigation on hover*/
.navbar-inverse .navbar-nav > li > a.active:hover {
    background-color: #68DDDD;
    color: #222e3f;
}

.navbar-inverse .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #3f3696;
    border: none;
}

.navbar-inverse .navbar-nav > .active > a {
    color: #ffffff;
    background-color: #4e43ba;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #3f3696;
    border: none;
}

.navbar-inverse .navbar-toggle {
    border: none;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #3f3696;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

/* CUSTOMIZE THE CAROUSEL
 -------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 0px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    text-align: left;
    text-shadow: none;
    left: 0;
    right: 0;
    margin-left: 80px;
    margin-top: 24px;
    width: 60%;
    bottom: 0;
    padding: 0;
    top: 0;
}

/* Declare heights because of positioning of img element */

.carousel .item {
    background-color: transparent;
}

.carousel .item .container {

}
.carousel .item h1 {
    color: #28384c;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    text-shadow: none;
    text-align: left;
    margin-bottom: 24px;
    letter-spacing: -1px;
}

.carousel .item h1.slide1 {
    font-size: 54px;
    line-height: 54px;
}

.carousel .item h1.slide2 {
    font-size: 50px;
    line-height: 50px;
}

.carousel .item h1.slide3 {
    font-size: 50px;
    line-height: 50px;
}

.carousel .item h2 {
    color: #28384c;
    font-size: 24px;
    line-height: 24px;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    text-shadow: none;
    text-align: left;
    margin-top: 0;
    margin-bottom: 32px;
}

.carousel .item h2.slide1 {
    width:480px;
}

.carousel .item h2.slide2 {
    width:590px;
}

.carousel .item h2.slide3 {
}

.carousel-inner > .item > img {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    height: auto;
}

.carousel-indicators li {
    background-color: #9493ff;
    width: 20px;
    height: 20px;
    margin: 0;
    border: 2px solid white;
}

.carousel-indicators .active {
    background-color: #4e43ba;
    width: 20px;
    height: 20px;
    margin: 0;
}

.carousel-control, .carousel-control:hover, .glyphicon-chevron-left, .glyphicon-chevron-right {
    color: #4e43ba;
    text-shadow: none;
}

.carousel-control {
    width: 35px;
    height: 34px;
    top: 40%;
}
.carousel-control.left {
    background-image: none;
    background-repeat: no-repeat;
    margin-left: 24px;
}

.carousel-control.right {
    background-image: none;
    background-repeat: no-repeat;
    margin-right: 24px;
}

/*.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left{

 background: url("../img/desktop/arrow-left.png") no-repeat;
 width:35px;
 height:34px;
 margin-left:0;
 left:0;
 }

 .carousel-control .icon-next, .carousel-control .glyphicon-chevron-right{
 background:url("../img/desktop/arrow-right.png") no-repeat;
 width:35px;
 height:34px;
 right: 0;
 margin-left:0;
 }*/

/*****************************************************************Buttons*****************************************************************/

button {
    border: none;
}

.btn-green {
    color: #34495e;
    background-color: #61d7d5;
    border: 1px solid #50b2b4;
    border-radius: none;
    letter-spacing: 0.7px;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: none;
    text-align: center;
    margin: 0 auto;
    padding: 12px 40px;
    text-decoration: none;
}

.btn-green:focus {
    color: #ffffff;
    background-color: #4e43ba;
    border: 1px solid #3e3594;
    text-decoration: none;
}

.btn-green:hover {
    color: #ffffff;
    background-color: #4e43ba;
    border: 1px solid #3e3594;
    text-decoration: none;
}

.btn-green:active {
    color: #ffffff;
    background-color: #4e43ba;
    border: 1px solid #3e3594;
    text-decoration: none;
}

.btn-orange {
    color: #FFFFFF;
    background-color: #FF884D;
    border: 1px solid #FF6B57;
    border-radius: none;
    letter-spacing: 0.7px;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: none;
    text-align: center;
    margin: 0 auto;
    padding: 12px 40px;
    text-decoration: none;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active {
    color: #ffffff;
    background-color: #FF6B57;
    border: 1px solid #FF6B57;
    text-decoration: none;
}

.btn-magnifying-glass {
    background: url("../img/desktop/map-search-icon.png") no-repeat;
    width: 40px;
    height: 40px;
    float: left;
    background-color: #FFFFFF;
    background-position: center;
}

.btn-magnifying-glass:hover {
    background: url("../img/desktop/map-search-icon-hover.png") no-repeat;
    width: 40px;
    height: 40px;
    float: left;
    background-color: #FFFFFF;
    background-position: center;
}

/***************************************************************** Video Player Homepage *****************************************************************/

.see-how {
  text-align: left;
  padding-left: 45px;
  padding-top: 45px;
}

.see-how .copy-container {
  float: left;
  width: 565px;
  position: relative;
  top: -8px;
}

.see-how .headline {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 34px;
  line-height: 34px;
  color:#59bfc1;
  text-transform: uppercase;
  margin-bottom: 26px;
  width: 100%;
}

.see-how .info {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 28px;
  color:#4e3ebd;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.see-how p {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 22px;
  color:#212d3f;
  width: 90%;
  margin-bottom: 32px;
}

.see-how a {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 22px;
  color:#5c4fee;
  text-transform: uppercase;
}

.see-how a:hover {
    color: #50b2b4;
}

.see-how a span {
  font-size: 27px;
}

.see-how #video-player-container {
  width: 400px;
  height: 225px;
  float: right;
  outline: 5px solid #DDDDDD;
  margin-right: 5px;
}

/*****************************************************************Home page callouts*****************************************************************/

#callouts {
    margin-top: 48px;
}

#callouts a {
    text-decoration: none;
}

.callout {
    height: auto;
    text-align: center;
    padding: 32px;
    border: 1px solid #7c8a98;
    background-color: #dddddd;
    border-radius: 0px;
    margin-bottom: 16px;
}

.callout h3 {
    color: #34495e;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: 0px;
    text-transform: uppercase;
    letter-spacing: -0.1px;
}

.callout p {
    color: #34495e;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 24px;
    letter-spacing: 0.5px;
    height: 190px;
}

a.thumbnail:hover, a.thumbnail:focus {
    border: 1px solid #b1bac4;
    background-color: #FFF;
    text-decoration: none;
}

a.thumbnail:hover .btn-green, a.thumbnail:focus .btn-green {
    color: #ffffff;
    background-color: #4e43ba;
    border: 1px solid #3e3594;
    text-decoration: none;
}

/***************************************************************** CTA AREA *****************************************************************/

#cta_area {
    margin-top: 40px;
    padding: 0;
}

#cta_area  h4 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 88px;
}

#cta_area h5 {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#cta_area img.physician {
    margin: 24px auto;
}

#cta_area a {
    background-color: #4e43ba;
    width: 100px;
    text-decoration: none;
}

#cta_area img.go_find_btn {
    margin-top: 120px;
    margin-bottom: 138px;
}

#cta_area a:hover {
    background-color: #4e43ba;
    text-decoration: none;
}

/***************************************************************** ABOUT ****************************************************************/

.banner_bg_about {
    background-image: url(../img/desktop/header_about.jpg);
    background-repeat: no-repeat;
    height: 387px;
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.banner_bg_about .headline {
    margin-left: 24px;
    margin-top: 40px;
    position: absolute;
    width: 44%;
}

#about_header .headline h1 {
    font-size: 43px;
    line-height: 45px;
    text-align: left;
}

#about_header .headline h2 {
    text-align: left;
    font-size: 21px;
    line-height: 23px;
    margin-right: 24px;
}

.content {
    padding: 88px 0;
}

#treatments h3, #treatments h4, #treatments p {
    color: white;
}

#why img {
    max-width: 100%;
}

/*****************************************************************CONTACT*****************************************************************/

body.contact-section{
     font-family: 'Lato', sans-serif;
}
.contact-container {
    height: auto;
    padding: 32px;
    border: 1px solid #7c8a98;
    background-color: #ededed;
    border-radius: 0px;
    width: 768px;
    margin: 0 auto;
}

.contact-container-2 {
    height: auto;
    padding: 16px;
    border: 1px solid #7c8a98;
    background-color: #ededed;
    border-radius: 0px;
    margin-bottom: 48px;
}

.contact-container-2 img.logo {
    margin-bottom: 24px;
}

.contact-container-2 h3, .contact-container p {
    margin: 0;
}

/*****************************************************************Contact Form*****************************************************************/

#contactForm {
    margin: 48px auto;
    height: auto;
}

#contactForm label {
    color: #2c3e50;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-shadow: none;
    font-size: 16px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 4px;
    margin-left: 0;
    text-transform: uppercase;
    width: 100%;
}

#contactForm input, #contactForm textarea, #findForm input {
    margin-bottom: 10px;
    width: 100%;
    height: 48px;
    border: 1px solid #68DDDD;
    box-shadow: none;
    transition: none;
    border-radius: 0;
}

.form-control {
    border-radius: 0;
    height: 48px;
}

#contactForm textarea {
    resize: none;
    height: 150px;
}

#contactForm input:focus, #contactForm input:active, #contactForm textarea:focus, #contactForm textarea:active, #findForm input:focus, #findForm input:active {
    border: 1px solid #FF884D;
    box-shadow: none;
    transition: none;
    border-radius: 0;
}

#contactForm label.error {
    color: #ff884d;
    float: left;
    font-size: 12px;
    margin-top: -85px;
    position: relative;
    text-align: right;
    width: 100%;
}

#message-error {
    margin-top: -185px !important
}

#contactForm input.error, #contactForm textarea.error {
    border: 1px solid #FF884D;
}

#contactForm button {
    margin-top: 40px;
}

#contactForm #output {
    margin-top: 40px;
}

/*****************************************************************Privacy & Terms*****************************************************************/

#privacy h6, #privacy p, #privacy ul, #privacy li {
    text-align: left;
}

#privacy ul {
  margin-left: 13px;
}

#privacy ul, #privacy p {
    margin-bottom: 16px;
    font-size: 14px !important;
    padding-left: 0;
}

#privacy li {
    margin-left: 24px;
    padding-left: 16px;
    font-size: 14px !important;
    margin-left: 0;
}

#privacy h6, #privacy p, #privacy ul, #privacy li {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

#privacy p.copyright{
    text-align:center;
}

/*****************************************************************Footer*****************************************************************/

#footer {
    margin: 0 auto;
    padding: 48px 0;
    text-align: center;
}

#footer .bottom_links {
    margin-bottom: 24px;
}

#footer .bottom_links ul {
    list-style: none;
}

#footer .bottom_links li {
    display: inline;
}

#footer .bottom_links a.btn_footer {
    padding: 10px 48px;
    margin: 0 8px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #f2f2f2;
    background-color: #28384c;
    border: 1px solid #f2f2f2;
    text-decoration: none;
}

#footer .bottom_links a.btn_footer:hover, #footer .bottom_links a.btn_footer:focus {
    background-color: #f2f2f2;
    border: 1px solid #28384c;
    color: #28384c;
    text-decoration: none;
}

#footer .hide-desktop {
    display: none;
}

/******** social *************/

#footer .bottom_links a.social-facebook {
    margin-right: 6px;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    display: inline-block;
}

#footer .bottom_links a.social-facebook:hover {
    -moz-box-shadow: 5px 5px 1px #121922;
    -webkit-box-shadow: 5px 5px 1px #121922;
    box-shadow: 5px 5px 1px #121922;
}

#footer .bottom_links a.social-facebook:focus {
    -moz-box-shadow: 5px 5px 1px #121922;
    -webkit-box-shadow: 5px 5px 1px #121922;
    box-shadow: 5px 5px 1px #121922;
}

#footer .bottom_links a.social-twitter {
    margin-right: 6px;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    display: inline-block;
}

#footer .bottom_links a.social-twitter:hover {
    -moz-box-shadow: 5px 5px 1px #121922;
    -webkit-box-shadow: 5px 5px 1px #121922;
    box-shadow: 5px 5px 1px #121922;
}

#footer .bottom_links a.social-twitter:focus {
    -moz-box-shadow: 5px 5px 1px #121922;
    -webkit-box-shadow: 5px 5px 1px #121922;
    box-shadow: 5px 5px 1px #121922;
}

/******** copyright *************/

#footer p {
    color: #f2f2f2;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 32px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#footer p a {
    color: #9493ff;
    text-decoration: underline;
}

#footer p a:hover, a:focus {
    color: #50b2b4;
}

/*****************************************************************Find Physicians*****************************************************************/

#find-physicians label {
    font-weight: bold;
    letter-spacing: 1px;
    text-align: left;
    float: left;
}

.search-icon {
    background-image: url("../img/desktop/map-search-icon.png");
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    float: left;
    border: 1px solid #68dddd;
}

.search-icon:hover {
    background-image: url("../img/desktop/map-search-icon-hover.png");
}

.search-icon:focus {
    background-image: url("../img/desktop/map-search-icon-hover.png");
}

#map {
    margin: 0 auto;
    margin-top: 100px;
}

.instructions {
    margin-top: 48px;
}

.instructions h4 {
    text-align: left;
}

.instructions ol {
    margin-top: 24px;
    text-align: left;
    font-family: 'Lato', sans-serif;
}


.instructions ol li {
    margin-bottom: 16px;
}

.zoom-icon {
    background-image: url("../img/desktop/map-zoom-icon.png");
    background-repeat: no-repeat;
    height: 18px;
    width: 43px;
    display: inline-block;
}

.pin-icon {
    background-image: url("../img/desktop/map-pin-icon.png");
    background-repeat: no-repeat;
    height: 19px;
    width: 19px;
    display: inline-block;
}

.address-icon {
    background-image: url("../img/desktop/map-address-icon.png");
    background-repeat: no-repeat;
    height: 24px;
    width: 52px;
    display: inline-block;
}
.yellow-person-icon {
    background-image: url("../img/desktop/map-yellow-person-icon.png");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    display: inline-block;
}

.toggle-icon {
    background-image: url("../img/desktop/map-toggle-icon.png");
    background-repeat: no-repeat;
    height: 20px;
    width: 51px;
    display: inline-block;
}

#locationSelect {
    width: 100%;
    visibility: hidden;
}

.form-control {
    margin-bottom: 10px;
}

#find_header .banner_bg_find {
    background-image: url("../img/desktop/header_find.jpg");
    background-repeat: no-repeat;
    height: 387px;
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#find_header .headline {
    margin-top: 40px;
    margin-left: 24px;
    position: absolute;
    width: 44%;
}

.find-physicians-section .col-lg-offset-2 {
    margin-left: 0;
}

#find_header .headline h1 {
    font-size: 43px;
    line-height: 45px;
    text-align: left;
}

.find {
    width: 100%;
}

.controls {
    float: left;
    width: 400px;
}

#find_header .headline h2 {
    text-align: left;
    font-size: 22px;
    line-height: 24px;
    margin-right: 24px;
}

#findForm {
    float: left;
    margin-bottom: 10px;
    margin-top: 48px;
    width: 400px;
}

#findForm input {
    width: 316px;
    height: 40px;
    float: left;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.results {
    width: 356px;
    height: 565px;
    overflow: scroll;
    border: 1px solid #FFFFFF;
}

.activate-mobile-location {
    display: none;
}

.current-location {
    display: none;
}

.result {
    margin-bottom: 18px;
    margin-left: 10px;
    text-align: left;
    float: left;
    width: 100%;
}

.results p {
    text-align: left;
    margin-left: 12px;
}

.result .arrow {
    background: url("../img/desktop/map-list-icon.png") no-repeat;
    width: 15px;
    height: 15px;
    display: block;
    float: left;
}

.result .index {
    font-family: 'Lato', sans-serif;
    color: #2c3e50;
    font-size: 16px;
    font-weight: bold;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 14px;
}

.result .info {
    float: left;
    width: 75%;
    margin-top: -5px;
}

.result p {
    font-family: 'Lato', sans-serif;
    color: #2c3e50;
    font-size: 16px;
    margin-bottom: 0;
}

/**JScrollPane**/

.jspVerticalBar {
    width: 40px !important;
    border-left: 1px solid #ffffff;
}

.jspPane {
    margin-top: 18px !important;
}

.jspDrag {
    background-color: #F2F2F2 !important;
}

.jspTrack {
    background-color: #61d7d5 !important;
}

.jspArrowUp {
    background: #F2F2F2 url("../img/desktop/scroll-up-arrow.png") no-repeat !important;
    width: 20px;
    height: 20px;
}

.jspArrowDown {
    background: #F2F2F2 url("../img/desktop/scroll-down-arrow.png") no-repeat !important;
    width: 20px;
    height: 20px;
}

.jspDrag {
    background: #F2F2F2 url("../img/desktop/scrubber.jpg") no-repeat !important;
    width: 40px;
    background-color: transparent;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.6);
    box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.6);
}

/*Google Maps elements*/

.gm-style .gm-style-iw {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #2C3E50;
}

/*****************************************************************Footer *****************************************************************/
.footer {
    padding-top: 12px;
    font-family: 'Lato-Regular', Arial, sans-serif;
    color: #333366;
    font-size: 14px;
}

.footer ul {
    margin-bottom: 0;
}

.footer.navbar.navbar-default li {
    float: left;
    margin-right: 60px;
}

.footer .hide-desktop {
    display: none;
}
