/*****************************************************************Gobal styles*****************************************************************/


body{
    min-height: 1165px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    background-color: #ededed;
    color:#34495e;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    text-align: center;
}

h1{
    font-size: 36px;
    line-height: 36px;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    color:#28384c;
    margin-bottom: 24px;
    letter-spacing: -1px;
}

h2 {
    font-size:24px;
    line-height: 24px;
    font-family: 'PT Serif', serif;
    color:#28384c;
     margin-bottom: 32px;
         letter-spacing: -0.1px;
             font-weight: 700;
}

h3 {
    font-size: 21px;
    line-height: 21px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 24px;
    text-transform: uppercase;
             letter-spacing: 1px;
}

h4 {
    font-size: 18px;
    line-height: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-bottom: 8px;
    text-transform: uppercase;
             letter-spacing: 3px;
}

h5 {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
             letter-spacing: 1px;
}

h6 {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800 !important ;
    text-transform: uppercase;
             letter-spacing: 1px;
             margin-top: 24px;
             margin-bottom: 8px;
}

a {
  color: #4e43ba;
  text-decoration: underline;
}

a:hover {
  color: #50b2b4;
}

a:focus {
  color: #50b2b4;
}


p {
color:#34495e;
    font-size: 16px;
    line-height: 24px;
    font-weight:400;
        margin-bottom: 24px;
                 letter-spacing: 0.5px;
}

.purple { background-color: #5d56eb;}
.dark-purple { background-color: #4e43ba;}
.green { background-color: #50b2b4;}
.light-gray { background-color: #ededed;}
.dark-gray { background-color: #222e3f;}

sup {
    font-size: 60%;

    /* Zero out the line-height so that it doesn't
       interfere with the positioning that follows */
    line-height: 0;

    /* Where the magic happens: makes all browsers position
       the sup/sup properly, relative to the surrounding text */
    position: relative;

    /* Note that if you're using Eric Meyer's reset.css, this
       is already set and you can remove this rule */
    vertical-align: baseline;
    /* Move the superscripted text up */
    top: -0.4em;
}


 /*****************************************************************Bootstrap Customize elements*****************************************************************/


.row {
  margin: 0px;
  padding: 0px;
}
.container-fluid {
  max-width: 1024px !important;
    margin-right: auto;
  margin-left: auto;
  padding: 0px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
    max-width: 1024px !important;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding: 0 8px !important;
}


/***************************************************************** Top Navigation  *****************************************************************/




.navbar {
  min-height: 72px;
  margin: 0;
  border: none;
}

.navbar-right {
  margin-bottom: 0px;
  padding-bottom: 0px;

}

/********************* collapse *********************/

.navbar-collapse {
  overflow-x: visible;
  padding-right: 0;
  padding-left: 0;
  border-top: none;
  box-shadow: none;
  margin: 0px;
}


/********************* TOGGLE *********************/
.navbar-toggle {
  position: relative;
  float: right;
  background-color: #4e43ba;
  border: none;
  border-radius: 0px;
  padding: 10px ;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 24px;
  height: 4px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}


/***************************************************************** navbar-inverse  *****************************************************************/

.navbar-inverse {
  background-color: transparent;
  border: none;
  margin-right: 30px;
}

.navbar-inverse .navbar-brand {
  padding: 0 0 0 30px;
  float: left;
}

.navbar-inverse .navbar-brand a {
  background-color: none;

}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    padding: 26px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.7px;
    text-decoration: none;
}


.navbar-inverse .navbar-nav > li > a:hover{
  color: #ffffff;
  background-color: #4e43ba;
    border: none;
}

.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #3f3696;
    border: none;
}

.navbar-inverse .navbar-nav > .active > a{
  color: #ffffff;
  background-color: #4e43ba;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #3f3696;
    border: none;
}

.navbar-inverse .navbar-toggle {
  border: none;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #3f3696;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  text-align:left;
  text-shadow:none;
  left:0;
  right:0;
  margin-left:80px;
  margin-top: 24px;
  width: 60%;
  bottom:0;
  padding:0;
  top:0;
}

/* Declare heights because of positioning of img element */

.carousel .item {
  background-color: transparent;
}

.carousel .item .container{
   
}
.carousel .item h1{
    color:#28384c;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    text-shadow:none;
    text-align:left;
    margin-bottom:24px;
    letter-spacing: -1px;
}

.carousel .item h1.slide1 {
    font-size:54px;
    line-height: 54px;
}

.carousel .item h1.slide2 {
    font-size:50px;
    line-height: 50px;
}

.carousel .item h1.slide3 {
    font-size:50px;
    line-height: 50px;
}

.carousel .item h2{
    color:#28384c;
    font-size:24px;
    line-height: 24px;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    text-shadow:none;
    text-align:left;
    margin-top:0;
    margin-bottom:32px;
}

.carousel-inner > .item > img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}

.carousel-indicators li{
    background-color:#9493ff;
    width:20px;
    height:20px;
    border:none;
    margin:0;
    border: 2px solid white;
}

.carousel-indicators .active{
    background-color:#4e43ba;
    width:20px;
    height:20px;
    margin:0;
}


.carousel-control, .carousel-control:hover, .glyphicon-chevron-left, .glyphicon-chevron-right{
    color:#4e43ba;
    text-shadow: none;
}

.carousel-control{
    width:35px;
    height:34px;
    top:40%;
}
.carousel-control.left{
    background-image:none;
    background-repeat:no-repeat;
    margin-left: 24px;
}

.carousel-control.right{
    background-image:none;
     background-repeat:no-repeat;
    margin-right: 24px;
    
}

/*.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left{

    background: url("../img/desktop/arrow-left.png") no-repeat;
    width:35px;
    height:34px;
    margin-left:0;
    left:0;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right{
    background:url("../img/desktop/arrow-right.png") no-repeat;
    width:35px;
    height:34px;
    right: 0;
    margin-left:0;
}*/



/*****************************************************************Buttons*****************************************************************/

button{
    border:none;
}

.btn-green {
    color: #34495e;
    background-color:#61d7d5;
    border: 1px solid #50b2b4;
    border-radius: none;
    letter-spacing: 0.7px;
    font-size:14px;
    line-height: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow:none;
    text-align:center;
    margin:0 auto;
    padding: 12px 40px;
       text-decoration: none;
}
.btn-green:focus {
    color:#ffffff;
    background-color:#4e43ba;
    border: 1px solid #3e3594;
    text-decoration: none;
}
.btn-green:hover {
    color:#ffffff;
    background-color:#4e43ba;
    border: 1px solid #3e3594;
    text-decoration: none;
}
.btn-green:active{
    color:#ffffff;
    background-color:#4e43ba;
    border: 1px solid #3e3594;
    text-decoration: none;

}

.btn-orange {
    color: #FFFFFF;
    background-color:#FF884D;
    border: 1px solid #FF6B57;
    border-radius: none;
    letter-spacing: 0.7px;
    font-size:14px;
    line-height: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow:none;
    text-align:center;
    margin:0 auto;
    padding: 12px 40px;
    text-decoration: none;
}

.btn-orange:hover, .btn-orange:focus, .btn-orange:active {
    color:#ffffff;
    background-color:#FF6B57;
    border: 1px solid #FF6B57;
    text-decoration: none;
}

.btn-magnifying-glass{
    background: url("../img/desktop/map-search-icon.png") no-repeat;
    width:40px;
    height:40px;
    float:left;
    background-color:#FFFFFF;
    background-position:center;
}

.btn-magnifying-glass:hover{
    background: url("../img/desktop/map-search-icon-hover.png") no-repeat;
    width:40px;
    height:40px;
    float:left;
    background-color:#FFFFFF;
    background-position:center;
}

/*****************************************************************Home page callouts*****************************************************************/

#callouts{
    margin-top: 48px;

}

#callouts a{
   text-decoration: none;
}

.callout{
    height: auto;
    text-align: center;
    padding: 32px;  
    border: 1px solid #7c8a98;  
    background-color: #dddddd;
    border-radius: 0px;
    margin-bottom: 16px;
}

.callout h3{
    color: #34495e;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-bottom: 24px;
    margin-top: 0px;
    text-transform: uppercase;
    letter-spacing: -0.1px;
}

.callout p{
    color:#34495e;
    font-size: 16px;
    line-height: 24px;
    font-weight:400;
    margin-bottom: 24px;
    letter-spacing: 0.5px;
    height: 190px; 
}

a.thumbnail:hover, a.thumbnail:focus{
    border: 1px solid #b1bac4;
background-color: #FFF;
    text-decoration:none;
}


/***************************************************************** CTA AREA *****************************************************************/

#cta_area {
    margin-top: 40px;
    padding: 0;
}

#cta_area  h4 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 88px;
}

#cta_area h5 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#cta_area img.physician {
  margin: 24px auto;
}  

#cta_area a  {
  background-color: #4e43ba;
width: 100px;
text-decoration: none;

} 

#cta_area img.go_find_btn {
  margin-top: 120px;
margin-bottom: 138px;
}  

#cta_area a:hover {
  background-color: #4e43ba;
  text-decoration: none;
} 


/***************************************************************** ABOUT ****************************************************************/



.banner_bg {
    background: url(../img/desktop/header_about.jpg) no-repeat;
  width: 100%;
  height: 600px;
  background-position: top 0 right 0;
}

.banner_bg  img {
  width:100%;
  height: auto;
}

#about_header .headline {
    padding-top: 48px;
    padding-left: 48px;
}

#about_header .headline h1 {
    font-size: 36px;
    line-height: 36px;
        padding-top: 32px;
    padding-left: 0;
    padding-right: 80px;
    text-align: left;
}

#about_header .headline h2 {
    padding-left:0;
        padding-right: 80px;
        text-align: left;
}


.content {
    padding: 88px 0;
  }

#treatments h3, #treatments h4, #treatments p{
  color: white;
}



/*****************************************************************CONTACT*****************************************************************/


.contact-container {
    height: auto;
    padding: 32px;  
    border: 1px solid #7c8a98;  
    background-color: #ededed;
    border-radius: 0px;
}

.contact-container-2 {
    height: auto;
    padding: 16px;  
    border: 1px solid #7c8a98;  
    background-color: #ededed;
    border-radius: 0px;
    margin-bottom: 48px;
}

.contact-container-2 img.logo {
    margin-bottom: 24px; 
}

.contact-container-2 h3, .contact-container p {
    margin: 0; 
}

/*****************************************************************Contact Form*****************************************************************/

#contactForm{
    margin: 48px auto;
    height: auto;
}

#contactForm label{
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    width: 100%;
    padding: 0;
    margin: 0;
}

#contactForm input {
    border-radius: 0;
    border: 1px solid #50b2b4;
}

#contactForm textarea {
    resize: none;
        border-radius: 0;
    border: 1px solid #50b2b4;
}

#message-error{
    margin-top:-147px;
}

/*****************************************************************Privacy & Terms*****************************************************************/


#privacy h6, #privacy p, #privacy ul, #privacy li{
    text-align: left;
}

#privacy ul, #privacy p{
  margin-bottom: 16px;
  font-size: 14px !important; 
}


#privacy li{
  margin-left: 24px;
  padding-left: 16px;
  font-size: 14px !important;
}

#privacy h6, #privacy p, #privacy ul, #privacy li{
    font-size: 16px;
    line-height: 24px;
    font-weight:400;
    letter-spacing: 0.5px;
}

/*****************************************************************Footer*****************************************************************/


#footer  {
  margin: 0 auto;
  padding: 48px 0;
 text-align: center;
} 

#footer .bottom_links {
 margin-bottom: 24px;

}  

#footer .bottom_links ul {
  list-style: none;
} 

#footer .bottom_links li {
 display: inline;
} 

#footer .bottom_links a.btn_footer {
    padding: 10px 48px;
    margin: 0 8px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
     color: #f2f2f2;
     background-color: #28384c;
  border: 1px solid #f2f2f2;
  text-decoration: none;
}
 
#footer .bottom_links a.btn_footer:hover,
#footer .bottom_links a.btn_footer:focus {
   background-color: #f2f2f2;
  border: 1px solid #28384c;
    color: #28384c;
    text-decoration: none; 
} 

/******** social *************/


#footer .bottom_links a.social-facebook  {
   margin-right: 6px;
   margin-left: 8px;
   width: 40px;
   height: 40px;
   display: inline-block;
} 
#footer .bottom_links a.social-facebook:hover  {
-moz-box-shadow: 5px 5px 1px #121922;
-webkit-box-shadow: 5px 5px 1px #121922;
box-shadow: 5px 5px 1px #121922;
} 

#footer .bottom_links a.social-facebook:focus  {
-moz-box-shadow: 5px 5px 1px #121922;
-webkit-box-shadow: 5px 5px 1px #121922;
box-shadow: 5px 5px 1px #121922;
} 

#footer .bottom_links a.social-twitter  {
   margin-right: 6px;
   margin-left: 8px;
   width: 40px;
   height: 40px;
   display: inline-block;
} 
#footer .bottom_links a.social-twitter:hover  {
-moz-box-shadow: 5px 5px 1px #121922;
-webkit-box-shadow: 5px 5px 1px #121922;
box-shadow: 5px 5px 1px #121922;
} 

#footer .bottom_links a.social-twitter:focus  {
-moz-box-shadow: 5px 5px 1px #121922;
-webkit-box-shadow: 5px 5px 1px #121922;
box-shadow: 5px 5px 1px #121922;
} 

/******** copyright *************/

#footer p {
    color: #f2f2f2;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;

}

#footer p a{
    color: #9493ff;
    text-decoration: underline;

}

#footer p a:hover, a:focus {
    color: #50b2b4;
}


/*****************************************************************Find Physicians*****************************************************************/

#map{
   
    margin:0 auto;
}

#locationSelect{
    width:100%;
    visibility:hidden;
}

.form-control{
    margin-bottom:10px;
}


/*****************************************************************Footer *****************************************************************/
.footer {
    padding-top: 12px;
    font-family:'Lato-Regular', Arial, sans-serif;
    color:#333366;
    font-size: 14px;
}

.footer ul{
    margin-bottom:0;
}

.footer.navbar.navbar-default li {
    float: left;
    margin-right: 60px;
}



